* {
    font-family: "Arial";
    background-color: teal;
    margin: 10px;
}
p, h1, button, form, i, input {
    color: white;
}

#disappear {
    visibility: hidden;
}
#win {
    visibility: hidden;
}